# Oracle Connection String for Unichems DB
oracleconn: 'hr/hr@oradb:1521/xe'

# ElasticSearch host, index and type
elastichost: 'http://elasticsearch:9200'
index: Unichem
type: Compound

# Query parameters for extraction
querystart: 0 # Starting UCI, useful to resume stoped extractions
querylimit: 50000000 # Maximum UCI to fetch
# Elastic Bulk add parameters
bulklimit: 2000 # Limit of records to add for each Bulk worker
maxbulkcalls: 20 # Maximum number of worker at one time

logpath: ''