# Oracle Connection String for Unichems DB
oracleconn: 'hr/hr@oradb:1521/xe'

# ElasticSearch host, index and type
elastichost: 'http://elasticsearch:9200'
index: Unichem
type: Compound

queryranges:
  - start: 6500000
    finish: 499999999
  - start: 56300000
    finish: 99999999
  - start: 106400000
    finish: 160000000

# Elastic Bulk add parameters
bulklimit: 2000 # Limit of records to add for each Bulk worker
maxbulkcalls: 13 # Maximum number of worker at one time

logpath: ''